body{margin:0;
text-align:center;
font-family: 'Merriweather', serif;
color: #40514E;}
h1{color:#66BFBF;
  font-size: 5.625rem;
  margin:50px auto 0 auto;
  font-family: 'Sacramento', cursive;

}
  h2{color:#66BFBF;
    font-family: 'Montserrat', sans-serif;
font-size:2.5rem;
font-weight:normal;
padding-bottom: 10px;
}

  h3{color:#1199E;
    font-family: 'Montserrat', sans-serif;}
.top-container{background-color: #E4F9F5;
  color:#66BFBF;
position:relative;
padding-top:100px;}
.middle-container{margin:100px 0;}
.bottom-container{background-color:#66BFBF;
  padding:50px 0 20px;}

p{line-height: 2;}
.skill-row{
width:50%;
margin:100px auto 100px auto;
text-align: left;}
hr{border: dotted #EAF6F6 6px;
  border-bottom: none;
  width:4%;
  margin:100px auto;}
  a{color:#11999E;
  font-family: 'Montserrat', sans-serif;
margin:10px 20px;
text-decoration:none;}
a:hover{color:#EAF6F6;}
.programming-1{width: 25%;
float:left;
margin-right:30px;}
.oip-png{width: 25%;
float: right;
margin-left:30px;}
.pro{text-decoration: underline;}
.intro{width:30%;
margin:auto;}
.contact-messagge{width:40%;
margin:40px auto 60px;}
.top-cloud{position:absolute;
right:300px;
top:40px;}
.bottom-cloud{position:absolute;
left:250px;
bottom:300px;}
.myButton {
	box-shadow: 1px 0px 2px 1px #3dc21b;
	background-color:#44c767;
	border-radius:31px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
font-family: 'Montserrat', sans-serif;
	font-size:22px;
	font-weight:bold;
	padding:22px 42px;
	text-decoration:none;
	text-shadow:-1px -2px 3px #2f6627;
}
.myButton:hover {
	background-color:#5cbf2a;
}
.myButton:active {
	position:relative;
	top:1px;
}
.copyright{color:#EAF6F6;
font-size:0.75em;
padding:20px 0;}
